## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
print(7*7*7*7)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [3]:
s = "Hi there Nithin!"

In [4]:
s.split()

['Hi', 'there', 'Nithin!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [5]:
planet = "Earth"
diameter="The diameter of {} is 12742 kilometers".format(planet)

In [6]:
print(diameter)

The diameter of Earth is 12742 kilometers

** Given this nested list, use indexing to grab the word "hello" **

In [8]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [9]:
lst[3][1][2]

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [10]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [11]:
d["k1"][3]["tricky"][3]["target"][3]

'hello'

** What is the main difference between a tuple and a list? **

In [15]:
#The primary difference between tuples and lists is that tuples are immutable as opposed to lists which are mutable.

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [16]:
def domainGet(email):
    print("Your domain is: " + email.split('@')[-1])

email = input("Please enter your email: >")
domainGet(email)

Please enter your email: >nithin@gmail.com
Your domain is: gmail.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [17]:
def findDog(st):
    if 'dog' in st.lower():
        print("True")
    else:
        print("False")

In [18]:
st = "I take a walk with my dog"
findDog(st)

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [27]:
value = "My moms's dogs won't eat dry dog food";

In [28]:
def countdogs(value):
    count = 0
    for word in value.lower().split():
        if word == 'dog' or word == 'dogs':
            count = count + 1
            print(count)
countdogs(value)

1
2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [29]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [30]:
caught_speeding(91,False)

'Big Ticket'

In [31]:
speed="Your speed is more than 81"
caught_speeding(81,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [32]:
employee_names = ["Nithin", "Krishna", "Nikil", "Rahul", "Jagadeesh", "Reddy"]
employee_salaries = {}
for employee in employee_names:
    while True: # Input validation loop
        try:
            employee_salaries[employee] = int(input(f"Enter {employee}'s salary: ")) 
            break
        except ValueError:
            print("Invalid input")
    print(employee_salaries)
    total = sum(employee_salaries.values())
    print(total)

Enter Nithin's salary: 400000
{'Nithin': 400000}
400000
Enter Krishna's salary: 300000
{'Nithin': 400000, 'Krishna': 300000}
700000
Enter Nikil's salary: 450000
{'Nithin': 400000, 'Krishna': 300000, 'Nikil': 450000}
1150000
Enter Rahul's salary: 380000
{'Nithin': 400000, 'Krishna': 300000, 'Nikil': 450000, 'Rahul': 380000}
1530000
Enter Jagadeesh's salary: 590000
{'Nithin': 400000, 'Krishna': 300000, 'Nikil': 450000, 'Rahul': 380000, 'Jagadeesh': 590000}
2120000
Enter Reddy's salary: 670000
{'Nithin': 400000, 'Krishna': 300000, 'Nikil': 450000, 'Rahul': 380000, 'Jagadeesh': 590000, 'Reddy': 670000}
2790000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [34]:
e1={"Empid":1,
    "Empname":'Nithin', 
    "Basicpay":8000}
e2={"DeptName":'CSE',  
    "DeptId":69}

In [35]:
print({**e1, **e2})

{'Empid': 1, 'Empname': 'Nithin', 'Basicpay': 8000, 'DeptName': 'CSE', 'DeptId': 69}